.format-headerField-button {
  border: none;
  background-color: inherit;
  font-size: 25px;
  margin-left: 50px;
}

.format-headerField-button:hover {
  cursor:pointer;
  border-radius: 5px;
  background-color: #b8bab8;
}