.user-register-header-section {
  background-color: white;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 40px;
}

.position-user-register-logo-name {
  position: relative;
  top: 20px;
  right: 3px;
}

 a:link {
  color: inherit;
   text-decoration: none;
}

/* visited link */
 a:visited {
  color: inherit;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* selected link */
 a:active {
  color: inherit;
  text-decoration: none;
}

.user-register-logo-section {
  position: relative;
  top: 15px;
  left: 700px;
}

.resize-user-register-logo img {
  width: 70px;
  height: 70px;
}

.user-register-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.user-register-buttons-box {
  display: inline-flex;
  align-items: start;
}

.register-button-submit {
  margin-left: 307px;
}

.style-forgot-password {
  margin-top: 37px;
  font-size: 20px;
  margin-left: -450px;
  text-align: center;
  color: indianred;
}