.button-component button {
  width: 200px;
  height: 50px;
  // background-color: #fc0202; //change to this color once the button active condition(s) has been certified
  background-color: #b8bab8;
  border-radius: 5px;
  border-color: white;
  color: inherit;
  border-style: solid;
}

