
.input-field-container {
  display: flex;
  flex-flow: column;

  & label {
    padding-left: 5px;
  }
}

.input-field-wrapper {
  display: flex;
  flex-flow: column;
  padding: 5px 0 0 5px;
  margin-bottom: 20px;
}

.format-input {
  width: 450px;
  height: 40px;
  line-height: 8px;
  border-radius: 5px;
  background-color: #faf7f7;
  margin-bottom: 5px;
  padding-left: 5px;
}

.input-name-font-size {
  font-size: 30px;
}

.position-input-name-left {
  text-align: left;
  display: inline-block;
  width: 240px;
}

.input-error {
  color: red;
  font-size: small;
}

