
.input-field-box {
  display: block;
}

.format-input-element {
  width: 350px;
  height: 40px;
  line-height: 8px;
  border-radius: 5px;
  background-color: #faf7f7;
  margin-left: 20px;
  margin-bottom: 30px;
}

.input-name-font-size {
  font-size: 30px;
}

.position-input-name-left {
  text-align: left;
  display: inline-block;
  width: 240px;
}

