
.checkbox-container {
  display: block;
  padding-bottom: 10px;
}

.format-checkbox {
  width: 20px;
  height: 20px;
}

.align-label-to-box {
  display: flex;
  flex-flow: column;
  padding-left: 30px;
  margin-top: -22px;

  &:hover {
    color: rgba(86, 79, 79, 0.99);
  }
}

.checkbox-container input[type=checkbox]:checked {
  background-color: aqua;
}

.checkbox-container input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}